 .ant-picker-calendar {
      background: #f9fafb !important;
    }
    .ant-picker-cell-inner {
      background-color: #f9fafb;
    }
    .ant-picker-panel{
          background: #f9fafb;
    }
    .ant-picker-date-panel{
      background: #f9fafb !important;
    }